[data-component='testimonials'] .swiper-pagination {
  position: relative;
  text-align: center;
}

[data-component='testimonials'] .swiper-pagination-bullet {
  background: rgba(240, 239, 234, 0.4);
  opacity: 1;
}

[data-component='testimonials'] .swiper-pagination-bullet-active {
  background: rgba(240, 239, 234, 1);
}
